@media (max-width: $screen__s)
    .modal
        &__content
            max-width: 362px
            width: calc(100vw - 32px)

@media (max-width: $screen__sm)
    .score-board
        align-items: center
        flex-direction: column
        gap: 16px

        &__block
            width: unset

        &__score
            margin: 0

        &__title br
            display: none
            white-space: break-spaces

            